<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="savepath" value="C:\saves" />
    <add key="server" value="WINDOWS7-PC\\SQLEXPRESS"/>
  </appSettings>
</configuration>